<div class="editor-row">
	<div class="gf-form-group">
		<div class="gf-form">
			<gf-form-switch class="gf-form" label="Use SVG Builder" label-class="width-10" checked="ctrl.panel.useSVGBuilder"></gf-form-switch>
		</div>	
	</div>
</div>

<div class="editor-row" ng-if="ctrl.panel.useSVGBuilder">
	<div class="section gf-form-group">
		<h5 class="section-heading">Canvas</h5>
		<div class="gf-form">
			<label class="gf-form-label width-10">Width</label>
			<input type="text" class="input-small gf-form-input width-10" ng-model="ctrl.panel.svgBuilderData.width" ng-change="ctrl.buildSVG()" ng-model-onblur>
		</div>
		<div class="gf-form">
			<label class="gf-form-label width-10">Height</label>
			<input type="text" class="input-small gf-form-input width-10" ng-model="ctrl.panel.svgBuilderData.height" ng-change="ctrl.buildSVG()" ng-model-onblur>
		</div>

		<div class="gf-form">
			<label class="gf-form-label width-10">Viewport X</label>
			<input type="number" class="input-small gf-form-input width-10" ng-model="ctrl.panel.svgBuilderData.viewport.x" ng-change="ctrl.buildSVG()" ng-model-onblur>
		</div>
		<div class="gf-form">
			<label class="gf-form-label width-10">Viewport Y</label>
			<input type="number" class="input-small gf-form-input width-10" ng-model="ctrl.panel.svgBuilderData.viewport.y" ng-change="ctrl.buildSVG()" ng-model-onblur>
		</div>
		<div class="gf-form">
			<label class="gf-form-label width-10">Viewport Width</label>
			<input type="number" class="input-small gf-form-input width-10" ng-model="ctrl.panel.svgBuilderData.viewport.width" ng-change="ctrl.buildSVG()" ng-model-onblur>
		</div>
		<div class="gf-form">
			<label class="gf-form-label width-10">Viewport Height</label>
			<input type="number" class="input-small gf-form-input width-10" ng-model="ctrl.panel.svgBuilderData.viewport.height" ng-change="ctrl.buildSVG()" ng-model-onblur>
		</div>
		
	</div>

	<div class="section gf-form-group">
		<h5 class="section-heading">Elements</h5>
		<div class="gf-form" >
			<label class="gf-form-label width-10">Name</label>
			
			<label class="gf-form-label width-10">ID</label>
			<label class="gf-form-label width-6">x</label>
			<label class="gf-form-label width-6">y</label>
			<label class="gf-form-label width-6">rotation</label>
			<label class="gf-form-label width-6">r-center x</label>
			<label class="gf-form-label width-6">r-center y</label>
			<label class="gf-form-label width-6">scale</label>
		</div>
		<div class="gf-form" ng-repeat="element in ctrl.panel.svgBuilderData.elements">
			<label class="gf-form-label width-10">{{element.name}}</label>

			<input type="text" class="input-small gf-form-input width-10" ng-model="ctrl.panel.svgBuilderData.elements[$index].id" ng-change="ctrl.buildSVG()" ng-model-onblur>
			<input type="number" class="input-small gf-form-input width-6" ng-model="ctrl.panel.svgBuilderData.elements[$index].x" ng-change="ctrl.buildSVG()" ng-model-onblur>
			<input type="number" class="input-small gf-form-input width-6" ng-model="ctrl.panel.svgBuilderData.elements[$index].y" ng-change="ctrl.buildSVG()" ng-model-onblur>

			<input type="number" class="input-small gf-form-input width-6" ng-model="ctrl.panel.svgBuilderData.elements[$index].rotate" ng-change="ctrl.buildSVG()" ng-model-onblur>
			<input type="number" class="input-small gf-form-input width-6" ng-model="ctrl.panel.svgBuilderData.elements[$index].rcenterx" ng-change="ctrl.buildSVG()" ng-model-onblur>
			<input type="number" class="input-small gf-form-input width-6" ng-model="ctrl.panel.svgBuilderData.elements[$index].rcentery" ng-change="ctrl.buildSVG()" ng-model-onblur>

			<input type="number" class="input-small gf-form-input width-6" ng-model="ctrl.panel.svgBuilderData.elements[$index].scale" ng-change="ctrl.buildSVG()" ng-model-onblur>
			<label class="gf-form-label">
				<a class="pointer" tabindex="1" ng-click="ctrl.removeElement($index)">
					<i class="fa fa-trash"></i>
				</a>
			</label>
		</div>
		<p></p>
		<h5 class="section-heading">Add new</h5>
		<div class="gf-form">
			<label class="gf-form-label width-10">Repository</label>
			<select class="input-small gf-form-input" ng-model="ctrl.panel.selectedRepository" ng-change="ctrl.repositorySelected()">
				<option ng-repeat="(key, value) in ctrl.panel.repositories" value="{{key}}">{{key}}</option>
			</select>
		</div>
		<div class="gf-form">
			<label class="gf-form-label width-10">Categories</label>
			<select class="input-small gf-form-input" ng-model="ctrl.panel.selectedCategory" ng-change="ctrl.categorySelected()">
				<option ng-repeat="category in ctrl.panel.categories" value="{{category}}">{{category}}</option>
			</select>
		</div>
		<div class="gf-form">
			<label class="gf-form-label width-10">SVG</label>
			<select class="input-small gf-form-input" ng-model="ctrl.panel.selectedSVG">
				<option ng-repeat="svgitem in ctrl.panel.svglist" value="{{svgitem}}">{{svgitem.name}}</option>
			</select>
		</div>
		
		<div class="gf-form">
			<button ng-if="ctrl.panel.selectedSVG" class="btn btn-inverse gf-form-btn width-10" ng-click="ctrl.addSVGItem()"><i class="fa fa-plus"></i>&nbsp;Add</button>
		</div>
	</div>
</div>


	