<div class="editor-row">
		<h5 class="section-heading">JavaScript Code: <code>onHandleMetric(ctrl, svgnode)</code></h5>
		<ul style="padding-left: 40px;">
		<li>This code is executed upon <strong>every refresh</strong></li>
		<li>@param&emsp;{MetricsPanelCtrl}&emsp;ctrl&emsp;Instance of current grafana panel object.</li>
		<li>@param&emsp;{HTMLElement}&emsp;svgnode&emsp;Html DOM node containing svg data.</li>
		</ul>
		<div id="js_code" ng-show="ctrl.doShowAce('js_code')" style="height: 500px; width: 100%; margin-top: 8px;"></div>

		<!--textarea id="editor2" class="gf-form-input ng-not-empty" style="font-family:'Courier New', Courier, monospace;min-height: 500px" ng-model="ctrl.panel.js_code" ng-change="ctrl.setHandleMetricFunction(); ctrl.render();"></textarea-->
</div>

<div class="editor-row">
		<p />
		<h5 class="section-heading">JavaScript Code: <code>onInit(ctrl, svgnode)</code></h5>
		<ul style="padding-left: 40px;">
		<li>This code is executed <strong>once</strong>, right after the first initialization of the SVG</li>
		<li>@param&emsp;{MetricsPanelCtrl}&emsp;ctrl&emsp;Instance of current grafana panel object.</li>
		<li>@param&emsp;{HTMLElement}&emsp;svgnode&emsp;Html DOM node containing svg data.</li>
		</ul>
		<div id="js_init_code" ng-show="ctrl.doShowAce('js_init_code')" style="height: 500px; width: 100%; margin-top: 8px;">Type in a word like "will" below and press ctrl+space or alt+space to get "rhyme completion"</div>

		<!--textarea class="gf-form-input ng-not-empty" style="font-family:'Courier New', Courier, monospace;min-height: 500px" ng-model="ctrl.panel.js_init_code" ng-change="ctrl.setInitFunction(); ctrl.render();"></textarea-->
</div>